.idea
.tox
.dox
.travis-solo
.DS_Store
.coverage
.vagrant
.cache
.coveralls.yml
.ropeproject
.mypy_cache
.venv
*,cover

sandbox
instance
node_modules
env
whoosh*
abilian.db
tmp
cache
dist
tests/cache
tests/tmp
tests/extra_files
results
build
MANIFEST
docs/_build
htmlcov
junit-py27.xml


*.pyc
*.egg
*.egg-info
*.swp
*.prof
*.stats
*.mo
*-orig
*.orig

/.eggs/
